._active.about {
  &::-webkit-scrollbar {
    width: 20px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #aaa; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 5px solid #00acee; /* creates padding around scroll thumb */
  }

  .scroll__wrapper {
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
      height: 0;
      -webkit-appearance: none;
    }
  }

  .scroll__position-wrapper {
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
      height: 0;
      -webkit-appearance: none;
    }
  }
}

.about {
  padding: 30px;
  background-color: #dfe9ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #31393d;
  overflow: auto;

  &__padding-container {
    width: 100%;
    height: 100%;

    padding-bottom: 30px;
  }

  &__container {
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__slider-container {
    width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .me {
    width: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
    margin-bottom: 30px;
    background-image: linear-gradient(130deg, #ff771c, #fcee34);

    &__title {
      color: #f1f1f1;
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__descr {
      color: #f1f1f1;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }

    &__content-right {
      margin: 0 0 0 20px;
    }

    &__subcontent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__avatar {
      position: relative;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      border: 5px #fcea4a solid;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;

      &:hover + .me__subcontent > .me__name,
      &:focus + .me__subcontent > .me__name {
        animation: neon3 1.5s ease-in-out infinite alternate;
        color: #fff;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__hover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: 700;
      color: #f1f1f1;
      width: max-content;
    }

    &__name {
      color: #db9e1b;
      font-family: Pacifico;
      font-size: 34px;
      transition: all 0.5s;
      font-weight: bold;
    }

    &__follow {
      color: #f1f1f1;
      font-size: 20px;
      font-family: "gotham";
      font-weight: 700;
      margin: 20px 0 10px 0;
    }

    .socials {
      display: flex;

      &__link {
        transform-origin: 0 100%;
        @include hideTapHighlightColor();
        @include hardwareAccel();
        @include improveAntiAlias();

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #f1f1f1;
        margin: 10px;
        border-radius: 30%;
        overflow: hidden;
        position: relative;
        transition: all 350ms ease-out;
        background-image: linear-gradient(130deg, #fcea4a, #cb6906);
        box-shadow: 0px 0px 16px 5px #fcea4a;

        &:hover,
        &:focus {
          animation-name: wobble-top;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
          transition: all 350ms ease-out;
          background-image: linear-gradient(130deg, #d8984e, #d84e4e);
          box-shadow: 0px 0px 16px 5px #d84e4e;

          i {
            color: #f1f1f1;
            transform: scale(1.35);
          }
        }

        i {
          text-align: center;
          font-size: 28px;
          color: #f1f1f1;
          transform: scale(1);
          transition: all 350ms ease-out;
        }
      }
    }

    &__subcontent {
      margin: 20px 0 0 0;
      box-sizing: border-box;
      text-align: center;
    }
  }

  &__slider-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 auto 0;
    font-weight: 700;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "merienda";
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "merienda";
  }
}

.scroll {
  &__wrapper {
    height: fit-content;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  // this is the most problematic part that actually breaks the slider in Safari. I think the problem has something to do with 'position: sticky', but it doesn't seem fixable for now.
  padding: 20px 20px 40px;
  white-space: nowrap;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto 0;

  &__filler {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__inner {
    width: fit-content;
    display: flex;
    align-items: stretch;
  }

  &__item {
    width: 400px;
    height: 350px;
    border-radius: 16px;
    transform: perspective(400px);
    padding: 30px;
    margin: 0 50px;
    vertical-align: top;
    color: white;
    text-decoration: none;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--html {
      background-image: linear-gradient(130deg, #ff8063, #e34040);
      box-shadow: 0 8px 20px 0 rgba(213, 65, 51, 0.45);
    }

    &--css {
      background-image: linear-gradient(130deg, #9457e2, #5029bb);
      box-shadow: 0 8px 20px 0 rgba(108, 79, 197, 0.44);
    }

    &--js {
      background-image: linear-gradient(130deg, #ffe561, #ffd24c);
      box-shadow: 0 8px 20px 0 rgba(227, 169, 55, 0.45);
      color: #333;
    }

    &--blue {
      background-image: linear-gradient(130deg, #1cffb7, #0075ff);
      box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
    }

    &--scss {
      background-image: linear-gradient(130deg, #cc668d, #cc66c7);
      box-shadow: 0 8px 20px 0 rgba(117, 59, 114, 0.45);
    }

    &--bootstrap {
      background-image: linear-gradient(130deg, #9c4798, #69479c);
      box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
    }

    &--ghost {
      background-image: none;
      box-shadow: none;
      border: 1px dashed #eaeaea;
      color: #bdbdbd;
      cursor: default;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__icon {
    font-size: 220px;
  }

  &__adobe {
    padding: 35px;
    color: #cc668d;
    background-color: #fff;
    font-size: 120px;
    font-weight: 700;
    border-radius: 20px;
  }

  &__figma {
    font-size: 180px;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
  }

  &__dot {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    width: var(--dot);
    height: var(--dot);
    margin: 0 15px 0 0;
    border-radius: var(--dot);

    &:nth-of-type(5) {
      margin: 0;
    }
  }

  &__dot--active {
    background-color: #fff;
  }

  &__dot-half {
    width: 50%;
    height: 100%;
  }

  &__dot--black.scroll__dot--active {
    background-color: #333;
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot--black {
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot-half--active {
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    border-top-left-radius: calc(var(--dot) / 2);
    border-bottom-left-radius: calc(var(--dot) / 2);
  }

  &__dot-half--black.scroll__dot-half--active {
    background-color: #333;
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot-half--black {
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__position {
    height: 3px;
    background-color: #f1f1f1;
    flex: 1;
    margin: 0 5px;

    &-wrapper {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
    }

    &-inner {
      height: 1px;
      background-color: #d0d0d0;
    }
  }

  &__btn {
    display: block;
    appearance: none;
    border: none;
    background: none;
    width: 26px;
    height: 26px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23aaa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center;
    background-size: 40px;
    z-index: 9;
    cursor: pointer;
    opacity: 0.6;
    color: rgba(179, 179, 179, 1);
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }

    &.prev {
      transform: scaleX(-1);
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #f1f1f1, 0 0 20px #f1f1f1, 0 0 30px #f1f1f1,
      0 0 40px #ffdd1b, 0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b,
      0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-30px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media (max-width: 800px) {
  .scroll {
    &__item {
      width: 250px;
      height: 300px;
      padding: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__icon {
      font-size: 160px;
    }

    &__adobe {
      padding: 24px;
      font-size: 90px;
    }

    &__figma {
      font-size: 140px;
    }
  }

  .about {
    .me {
      &__content {
        flex-direction: column;
        align-items: center;
      }

      &__content-left {
        order: 1;
      }

      &__content-right {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 620px) {
  .about {
    .me {
      &__content-right {
        margin: 30px 0 20px 0;
      }
    }
  }
}

@media (max-width: 504px) {
  .about {
    .me {
      &__avatar {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__subtitle--hide {
      display: none;
    }
  }
}

@media (max-width: 436px) {
  .scroll {
    &__item {
      width: 250px;
      height: 200px;
      padding: 15px;
      margin: 0 5px;
    }

    &__title {
      font-size: 20px;
    }

    &__icon {
      font-size: 120px;
    }

    &__adobe {
      padding: 20px;
      font-size: 70px;
    }

    &__figma {
      font-size: 100px;
    }

    &__dot {
      width: var(--dot-small);
      height: var(--dot-small);
      border-radius: var(--dot-small);
    }

    &__dot-half--active {
      border-top-left-radius: calc(var(--dot-small) / 2);
      border-bottom-left-radius: calc(var(--dot-small) / 2);
    }
  }

  .about {
    padding: 2px;
  }
}

@media (max-width: 380px) {
  .about {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}
