._active.about {
  &::-webkit-scrollbar {
    width: 20px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #aaa; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 5px solid #00acee; /* creates padding around scroll thumb */
  }

  .scroll__wrapper {
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
      height: 0;
      -webkit-appearance: none;
    }
  }

  .scroll__position-wrapper {
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
      height: 0;
      -webkit-appearance: none;
    }
  }
}

.about {
  padding: 30px;
  background-color: #dfe9ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #31393d;
  overflow-y: auto;
  overflow-x: hidden;

  &__padding-container {
    width: 100%;
    height: 100%;

    padding-bottom: 30px;
  }

  &__container {
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  &__slider-container {
    width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .me {
    width: 100%;
    min-height: 580px;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
    margin-bottom: 30px;
    background-image: linear-gradient(130deg, #ff771c, #fcee34);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    &__title {
      color: #f1f1f1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__card {
      position: relative;
      max-width: 1160px;
      height: max-width;
      min-height: 320px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      transition: all 500ms ease-out;

      &._active {
        position: relative;
        min-height: 350px;

        margin: 0 170px 0 0;
        transition: all 500ms ease-out;

        .me__avatar {
          left: 100%;
          top: calc(50% + 15px);
        }

        .me__circle::before {
          background-image: linear-gradient(130deg, #d8984e, #d84e4e);
          box-shadow: 0px 0px 16px 5px #d84e4e;
          clip-path: circle(600px at center);
        }

        .me__card-content {
          left: 0;
          opacity: 1;
          visibility: visible;
          transition: left 1000ms ease-out 250ms, opacity 1000ms ease-out 250ms,
            visibility 1000ms ease-out 250ms;
        }
      }

      &._active + .me__subcontent > .me__name {
        animation: neon3 1.5s ease-in-out infinite alternate;
        color: #fff;
      }
    }

    &__circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
    }

    &__circle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(130deg, #ff771c, #fcee34);
      clip-path: circle(120px at center);
      transition: all 0.5s ease-out;
    }

    &__card-content {
      color: #f1f1f1;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      width: calc(100% - 160px);
      padding: 20px;
      line-height: 26px;
      position: relative;
      left: 25%;
      transition: 250ms linear;
      opacity: 0;
      visibility: hidden;
    }

    &__avatar {
      position: absolute;
      top: calc(50% + 15px);
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      border: 5px #fcea4a solid;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transition: all 500ms ease-out;
      animation: float 6s ease-in-out infinite;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    &__button {
      min-width: 191px;
      display: inline-block;
      font-size: 18px;
      padding: 10px 15px;
      margin-top: 30px;
      text-transform: uppercase;
      background-image: linear-gradient(130deg, #fcea4a, #cb6906);
      color: #ddd;
      box-shadow: 0px 0px 16px 5px #fcea4a;
      overflow: hidden;
      transition: 500ms ease-out;
      letter-spacing: 2.5px;
      border-radius: 5px;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
      box-sizing: border-box;
      font: inherit;

      &:first-of-type {
        margin-right: 20px;
      }

      &:hover {
        box-shadow: 0px 0px 16px 5px #fcea4a;
        color: #fab82b;
        background-image: linear-gradient(130deg, #ddd, #fff);
        box-shadow: 0 0 5px #fcea4a, 0 0 25px #fcea4a, 0 0 50px #fcea4a,
          0 0 200px #fcea4a;
      }
    }

    &__hover-container {
      position: relative;
    }

    &__hover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-11.25deg);
      font-size: 28px;
      font-weight: 700;
      color: #f1f1f1;
      width: max-content;
      pointer-events: none;
    }

    &__subcontent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__name {
      color: #db9e1b;
      font-family: Pacifico;
      font-size: 34px;
      transition: all 0.5s;
      font-weight: bold;
    }

    &__follow {
      color: #f1f1f1;
      font-size: 20px;
      font-family: "gotham";
      font-weight: 700;
      margin: 20px 0 10px 0;
    }

    .socials {
      display: flex;

      &__link {
        transform-origin: 0 100%;
        @include hideTapHighlightColor();
        @include hardwareAccel();
        @include improveAntiAlias();

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #f1f1f1;
        margin: 10px;
        border-radius: 30%;
        overflow: hidden;
        position: relative;
        transition: all 350ms ease-out;
        background-image: linear-gradient(130deg, #fcea4a, #cb6906);
        box-shadow: 0px 0px 16px 5px #fcea4a;

        &:hover,
        &:focus {
          animation-name: wobble-top;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
          transition: all 350ms ease-out;
          background-image: linear-gradient(130deg, #d8984e, #d84e4e);
          box-shadow: 0px 0px 16px 5px #d84e4e;

          i {
            color: #f1f1f1;
            transform: scale(1.35);
          }
        }

        i {
          text-align: center;
          font-size: 28px;
          color: #f1f1f1;
          transform: scale(1);
          transition: all 350ms ease-out;
        }
      }
    }

    &__subcontent {
      margin: 20px 0 0 0;
      box-sizing: border-box;
      text-align: center;
    }
  }

  &__slider-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 auto 0;
    font-weight: 700;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "merienda";
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "merienda";

    &--white {
      color: #f1f1f1;
    }
  }

  .soft-skills {
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden;

    &__container {
      position: relative;
      width: 100%;
      min-height: 500px;
      background: #e34040;
      overflow: hidden;
      transition: background 1000ms ease-out 850ms;
      padding: 30px;
    }

    &__card {
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
      width: 300px;
      height: 300px;
      border-radius: 15px;
      box-shadow: 0px 6px 15px #333;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    &__subtitle {
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
      user-select: none;
      font-size: 22px;
    }

    &__descr {
      margin-top: 0;
      font-weight: 400;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.64);
      padding: 20px;
      text-align: center;
      margin: auto 0 calc(auto + 45.76px) 0;
      user-select: none;
      font-size: 18px;
      font-style: italic;
      color: #9c9c9c;
    }

    &__next {
      position: absolute;
      bottom: 10px;
      right: 25px;
      font-weight: 500;
      cursor: pointer;
      padding: 15px 20px;
      border-radius: 20px;
      transition: all 500ms ease-out;
    }

    &__prev {
      position: absolute;
      bottom: 10px;
      left: 25px;
      font-weight: 500;
      cursor: pointer;
      padding: 15px 20px;
      border-radius: 20px;
      transition: all 500ms ease-out;
    }

    &__card {
      /* CARD 1 */
      &--1 {
        box-shadow: 0 8px 20px 0 rgba(213, 65, 51, 0.45);
        background: #f6f6f6;
        transition: 1s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #e34040;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #e34040;
            transition: all 500ms ease-out;
          }
        }
      }

      /* CARD 2 */
      &--2 {
        box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
        background: #f6f6f6;
        transform: translateX(-50%) scale(2);
        margin: 1200px;
        opacity: 1;
        transition: 1.4s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #9457e2;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #9457e2;
            transition: all 500ms ease-out;
          }
        }

        &.active {
          opacity: 1;
          margin: 0;
          transform: translateX(-50%) scale(1) rotate(17deg);
        }
      }

      /* CARD 3 */
      &--3 {
        box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
        background: #f6f6f6;
        transform: translateX(-50%) scale(2);
        margin: -1200px;
        transition: 1.4s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #1cffb7;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #1cffb7;
            transition: all 500ms ease-out;
          }
        }

        &.active {
          margin: 0;
          transform: translateX(-60%) scale(1) rotate(-7deg);
        }
      }

      /* CARD 4 */
      &--4 {
        box-shadow: 0 8px 20px 0 rgba(108, 79, 197, 0.44);
        background: #f6f6f6;
        transform: translateX(-50%) scale(2);
        margin: 1000px;
        transition: 1.4s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #cc668d;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #cc668d;
            transition: all 500ms ease-out;
          }
        }

        &.active {
          margin: 0;
          transform: translateX(-60%) scale(1) rotate(6deg);
        }
      }

      /* CARD 5 */
      &--5 {
        box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
        background: #f6f6f6;
        transform: translateX(-50%) scale(2);
        margin: -1000px 1200px;
        transition: 1.4s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #2d8cf8;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #2d8cf8;
            transition: all 500ms ease-out;
          }
        }

        &.active {
          margin: 0;
          transform: translateX(-50%) scale(1) rotate(-12deg);
        }
      }

      /* CARD 6 */
      &--6 {
        box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
        background: #f6f6f6;
        transform: translateX(-50%) scale(2);
        margin: 1000px -1200px;
        transition: 1.4s;

        .soft-skills__subtitle,
        .soft-skills__next,
        .soft-skills__prev {
          color: #9c4798;
        }

        .soft-skills__next,
        .soft-skills__prev {
          &:hover {
            color: #fff;
            background-color: #9c4798;
            transition: all 500ms ease-out;
          }
        }

        &.active {
          margin: 0;
          transform: translateX(-50%) scale(1) rotate(14deg);
        }
      }
    }
  }
}

.scroll {
  &__wrapper {
    height: fit-content;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  // this is the most problematic part that actually breaks the slider in Safari. I think the problem has something to do with 'position: sticky', but it doesn't seem fixable for now.
  padding: 20px 20px 40px;
  white-space: nowrap;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto 0;

  &__filler {
    width: 100%;
    min-height: 100%;
    position: absolute;
  }

  &__inner {
    width: fit-content;
    display: flex;
    align-items: stretch;
  }

  &__item {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    transform: perspective(400px);
    padding: 30px;
    margin: 0 50px;
    vertical-align: top;
    color: white;
    text-decoration: none;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--html {
      background-image: linear-gradient(130deg, #ff8063, #e34040);
      box-shadow: 0 8px 20px 0 rgba(213, 65, 51, 0.45);
    }

    &--css {
      background-image: linear-gradient(130deg, #9457e2, #5029bb);
      box-shadow: 0 8px 20px 0 rgba(108, 79, 197, 0.44);
    }

    &--js {
      background-image: linear-gradient(130deg, #ffe561, #ffd24c);
      box-shadow: 0 8px 20px 0 rgba(227, 169, 55, 0.45);
      color: #333;
    }

    &--blue {
      background-image: linear-gradient(130deg, #1cffb7, #1e83f7);
      box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
    }

    &--scss {
      background-image: linear-gradient(130deg, #cc668d, #cc66c7);
      box-shadow: 0 8px 20px 0 rgba(117, 59, 114, 0.45);
    }

    &--bootstrap {
      background-image: linear-gradient(130deg, #9c4798, #69479c);
      box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
    }

    &--ghost {
      background-image: none;
      box-shadow: none;
      border: 1px dashed #eaeaea;
      color: #bdbdbd;
      cursor: default;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__icon {
    font-size: 220px;
  }

  &__adobe {
    padding: 35px;
    color: #cc668d;
    background-color: #fff;
    font-size: 120px;
    font-weight: 700;
    border-radius: 20px;
  }

  &__figma {
    font-size: 180px;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
  }

  &__dot {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    width: var(--dot);
    height: var(--dot);
    margin: 0 15px 0 0;
    border-radius: var(--dot);

    &:nth-of-type(5) {
      margin: 0;
    }
  }

  &__dot--active {
    background-color: #fff;
  }

  &__dot-half {
    width: 50%;
    height: 100%;
  }

  &__dot--black.scroll__dot--active {
    background-color: #333;
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot--black {
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot-half--active {
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    border-top-left-radius: calc(var(--dot) / 2);
    border-bottom-left-radius: calc(var(--dot) / 2);
  }

  &__dot-half--black.scroll__dot-half--active {
    background-color: #333;
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__dot-half--black {
    box-shadow: 0px 0px 0px 1px #333;
  }

  &__position {
    height: 3px;
    background-color: #f1f1f1;
    flex: 1;
    margin: 0 5px;

    &-wrapper {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
    }

    &-inner {
      height: 1px;
      background-color: #d0d0d0;
    }
  }

  &__btn {
    display: block;
    appearance: none;
    border: none;
    background: none;
    width: 26px;
    height: 26px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23aaa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center;
    background-size: 40px;
    z-index: 9;
    cursor: pointer;
    opacity: 0.6;
    color: rgba(179, 179, 179, 1);
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }

    &.prev {
      transform: scaleX(-1);
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

#languages-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
  margin-top: 30px;
}

.languages__title {
  margin: 0 auto 20px 0;
}

#slider {
  width: 400px;
  height: 350px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  [type="radio"] {
    display: none;
  }

  label {
    margin: auto;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    width: 400px;
    height: 350px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "bubble";
    font-weight: 500;
    padding: 10px;
  }

  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
  }

  #s1:checked ~ #slide5,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }

  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3),
      0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
  }

  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }

  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
  }

  #slide1 {
    background-image: linear-gradient(130deg, #ff8063, #e34040);
    box-shadow: 0 8px 20px 0 rgba(213, 65, 51, 0.45);

    color: #f1f1f1;
  }
  #slide2 {
    background-image: linear-gradient(130deg, #9457e2, #5029bb);
    box-shadow: 0 8px 20px 0 rgba(108, 79, 197, 0.44);
    color: #f1f1f1;
  }
  #slide3 {
    background-image: linear-gradient(130deg, #ffe561, #ffd24c);
    box-shadow: 0 8px 20px 0 rgba(227, 169, 55, 0.45);
    color: #333;
  }
  #slide4 {
    background-image: linear-gradient(130deg, #1cffb7, #0075ff);
    box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
    color: #f1f1f1;
  }
  #slide5 {
    background-image: linear-gradient(130deg, #9c4798, #69479c);
    box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
    color: #f1f1f1;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #f1f1f1, 0 0 20px #f1f1f1, 0 0 30px #f1f1f1,
      0 0 40px #ffdd1b, 0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b,
      0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, calc(-50% - 30px));
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
  }
}

//SKILLS + ME

@media (max-width: 800px) {
  .scroll {
    &__item {
      width: 250px;
      height: 300px;
      padding: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__icon {
      font-size: 160px;
    }

    &__adobe {
      padding: 24px;
      font-size: 90px;
    }

    &__figma {
      font-size: 140px;
    }
  }
}

//ME

@media (max-width: 880px) {
  .about {
    .me {
      &__card {
        width: calc(100% + 30px);
        align-items: flex-start;

        &._active {
          min-height: 400px;
          margin: 170px 0 0 0;

          .me__avatar {
            top: calc(0% + 15px);
            left: 50%;
          }

          .me__descr {
            position: relative;
            top: 0;
          }
        }
      }

      &__descr {
        width: 100%;
        top: 75%;
        left: 0;
        margin: 150px 0 0 0;
        position: absolute;
      }

      &__card-content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {
    .me {
      &__buttons {
        flex-direction: column;
        justify-content: center;
      }

      &__button {
        margin: 30px 0 0 0;

        &:first-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .about {
    .me {
      &__card {
        min-height: 250px;

        &._active {
          .me__descr {
            position: relative;
          }
        }
      }

      &__avatar {
        width: 200px;
        height: 200px;
      }

      &__descr {
        width: 100%;
        left: 0;
        margin: 100px 0 0 0;
        position: absolute;
      }
    }
  }
}

//SKILLS

@media (max-width: 436px) {
  .scroll {
    &__item {
      width: 250px;
      height: 200px;
      padding: 15px;
      margin: 0 5px;
    }

    &__title {
      font-size: 20px;
    }

    &__icon {
      font-size: 120px;
    }

    &__adobe {
      padding: 20px;
      font-size: 70px;
    }

    &__figma {
      font-size: 100px;
    }

    &__dot {
      width: var(--dot-small);
      height: var(--dot-small);
      border-radius: var(--dot-small);
    }

    &__dot-half--active {
      border-top-left-radius: calc(var(--dot-small) / 2);
      border-bottom-left-radius: calc(var(--dot-small) / 2);
    }
  }

  .about {
    padding: 2px;
  }
}

@media (max-width: 380px) {
  .about {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

//LANGUAGES

@media (max-width: 730px) {
  #slider {
    label {
      width: 250px;
      height: 300px;
      font-size: 30px;
    }
  }
}

@media (max-width: 534px) {
  #slider {
    label {
      width: 220px;
      height: 250px;
      font-size: 24px;
    }
  }
}

//SOFT SKILLS

@media (max-width: 536px) {
  .about {
    .soft-skills {
      &__card {
        width: 230px;
        height: 300px;
        padding: 10px;
      }

      &__subtitle {
        font-size: 22px;
      }

      &__descr {
        font-size: 16px;
        margin-top: 10px;
        padding: 0;
      }

      &__next {
        right: 10px;
      }

      &__prev {
        left: 10px;
      }
    }
  }
}
