.games {
  background-color: #ddd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 60px 30px;
  width: 100%;

  &__container {
    min-height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  img {
    max-width: 100%;
  }
}

.game {
  position: relative;
  min-width: 190px;
  width: 230px;
  margin: 50px 30px;
  transition: transform 250ms ease-out;

  &__rank {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 5;
    font-weight: 700;
    font-size: 1.125em;
    background-color: rgba(0, 0, 0, 0.65);
    clip-path: polygon(100% 0, 100% 100%, 51% 80%, 0 100%, 0 0);
    transition: var(--transition);
    cursor: pointer;
    color: #fff;

    i {
      padding: 20px 7px;
    }
  }

  &__background {
    background-color: rgb(40, 46, 54);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: scale(0.2, 0.9);
    border-radius: var(--br);
    opacity: 0;
  }

  &:hover {
    transform: scale(1.05);
  }
}

//////////////////////////////////

.game__rank._active {
  transform: translate(90%, -75%);
}

.game__rank._active + .front {
  transform: translateY(-30%) scale(0.8);
  background-color: transparent;
}

.game__rank._active + .front > .front__stats {
  opacity: 0;
}

.game__rank._active + .front > .front__name {
  animation: gameName 250ms forwards;
  padding: 20px 0;
}

.game__rank._active + .front + .back {
  opacity: 1;
  transition: transform 250ms ease-in-out, opacity 150ms linear;
  transform: translateY(20px);
}

.game__rank._active + .front + .back > .back__streamers {
  width: 100%;
  justify-content: space-between;
}

.game__rank._active + .front + .back > .back__name {
  font-weight: 500;
}

.game__rank._active + .front + .back + .game__background {
  transform: scale(1.3, 1.2);
  transition: var(--transition), opacity 100ms linear;
  opacity: 1;
}

//////////////////////////////////
.front {
  transition: transform 250ms ease-out;
  border-radius: 20px;
  position: relative;
  z-index: 1;

  &--1 {
    background-color: rgba(0, 130, 152, 1);
  }

  &--2 {
    background-color: rgba(98, 171, 252, 1);
  }

  &--3 {
    background-color: rgba(255, 139, 56, 1);
  }

  &--4 {
    background-color: rgba(36, 88, 82, 1);
  }

  &--5 {
    background-color: rgba(242, 94, 104, 1);
  }

  &--6 {
    background-color: rgba(176, 124, 247, 1);
  }

  &--7 {
    background-color: rgba(254, 118, 127, 1);
  }

  &--8 {
    background-color: rgba(255, 221, 153, 1);
  }

  &__thumbnail {
    border-radius: 20px;
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__streamers {
    display: flex;
    text-align: center;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--clr-dark);

      &:nth-of-type(1) {
        transform: translate(150%);
        z-index: 3;
      }

      &:nth-of-type(2) {
        transform: translate(100%);
        z-index: 2;
      }

      &:nth-of-type(3) {
        transform: translate(50%);
        z-index: 1;
      }
    }
  }
}

.back {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__streaming-info {
    margin: 10px;
    display: flex;
    min-width: 150px;
    justify-content: space-between;
    column-rule: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__line {
    height: 28px;
    width: 1px;
    background-color: #ddd;
    display: block;
  }

  &__stat {
    font-size: 1.125rem;
    text-align: center;
    width: calc((100% / 2) -30px);

    span {
      display: block;
      font-size: 14px;
    }
  }

  &__btn {
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 100vw;
    margin: 10px 0;
    font-size: 18px;
    animation: Content 250ms forwards;
    transition: all 250ms ease-out;

    &--1 {
      background-color: rgba(0, 130, 152, 1);
    }

    &--2 {
      background-color: rgba(98, 171, 252, 1);
    }

    &--3 {
      background-color: rgba(255, 139, 56, 1);
    }

    &--4 {
      background-color: rgba(36, 88, 82, 1);
    }

    &--5 {
      background-color: rgba(242, 94, 104, 1);
    }

    &--6 {
      background-color: rgba(176, 124, 247, 1);
    }

    &--7 {
      background-color: rgba(254, 118, 127, 1);
    }

    &--8 {
      background-color: rgba(255, 221, 153, 1);
    }

    &--1:hover {
      color: rgba(0, 130, 152, 1);
      background: var(--clr-light);
    }

    &--2:hover {
      color: rgba(98, 171, 252, 1);
      background: var(--clr-light);
    }

    &--3:hover {
      color: rgba(255, 139, 56, 1);
      background: var(--clr-light);
    }

    &--4:hover {
      color: rgba(36, 88, 82, 1);
      background: var(--clr-light);
    }

    &--5:hover {
      color: rgba(242, 94, 104, 1);
      background: var(--clr-light);
    }

    &--6:hover {
      color: rgba(176, 124, 247, 1);
      background: var(--clr-light);
    }

    &--7:hover {
      color: rgba(254, 118, 127, 1);
      background: var(--clr-light);
    }

    &--8:hover {
      color: rgba(255, 221, 153, 1);
      background: var(--clr-light);
    }
  }

  &__streamers {
    display: flex;
    text-align: center;
    margin: 10px 0;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    p {
      margin: 7px;
      font-size: 16px;
    }
  }
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  60% {
    text-align: center;
    opacity: 0;
    transform: scale(1.8);
  }

  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.8);
  }
}

@keyframes Content {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  10% {
    transform: translateY(45%);
    opacity: 0.1;
  }

  20% {
    transform: translateY(40%);
    opacity: 0.2;
  }

  30% {
    transform: translateY(35%);
    opacity: 0.3;
  }

  40% {
    transform: translateY(30%);
    opacity: 0.4;
  }

  50% {
    transform: translateY(25%);
    opacity: 0.5;
  }

  60% {
    transform: translateY(20%);
    opacity: 0.6;
  }

  70% {
    transform: translateY(15%);
    opacity: 0.7;
  }

  80% {
    transform: translateY(10%);
    opacity: 0.8;
  }

  90% {
    transform: translateY(5%);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .games {
    padding: 55px 30px 60px 30px;

    &__row {
      flex-wrap: wrap;
    }
  }

  .game {
    margin: 60px 30px;
  }
}

@media (max-width: 819px) {
  .games {
    padding: 45px 30px 60px 30px;
  }

  .game {
    margin: 60px 60px;
  }
}

@media (max-width: 564px) {
  .games {
    padding: 65px 30px 60px 30px;
  }

  .game {
    margin: 50px 40px;
  }
}

@media (max-width: 453px) {
  .back {
    &__streamers {
      flex-wrap: wrap;

      p {
        font-size: 14px;
        margin: 4px;
      }
    }

    &__streamer {
      width: calc(50% - 10px);
      margin: 5px;
    }

    &__btn {
      font-size: 12px;
      padding: 10px 15px;
      margin: 5px 0;
    }
  }

  .game__rank._active + .front + .back + .game__background {
    transform: scale(1.1, 1.2);
  }

  .game__rank._active + .front > .front__name {
    font-size: 16px;
  }

  .game__rank._active + .front {
    transform: translateY(-40%) scale(0.6);
    background-color: transparent;
  }

  .game__rank._active {
    transform: translate(35%, -70%);
  }

  .game {
    margin: 50px 0;
  }

  .games {
    padding: 50px 0 60px 0;
  }
}

@media (max-width: 352px) {
  .games {
    padding: 45px 30px 40px 30px;
  }

  .game {
    margin: 45px 40px;
  }

  .game__rank._active {
    transform: translate(30%, -61%);
  }

  .game__rank._active + .front + .back {
    transform: translateY(40px);
  }
}
