.tabs {
  &__indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% / 4);
    height: 5px;
    background: $icons-indicator-scrollbar-blue;
    border-radius: 5px;
    transition: left 350ms ease-out;
  }

  &__indicator-container {
    background-color: #414141;
    position: relative;
    height: 5px;
  }

  &__indicator--absolute {
    box-shadow: 0px 1px 11px -1px #000000;
  }
}

.header {
  width: 100%;
  z-index: 100;
  background-color: #303030;
  min-height: 81px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__icon {
    background-color: transparent;
    color: #ddd;
    border: 0;
    cursor: pointer;
    font-size: 40px;
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  &__icon:focus {
    outline: none;
  }

  &__body {
    width: 100%;
  }

  &__home {
    font-weight: 700;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item {
    width: calc((100% - 14px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
  }

  &__link {
    color: #aaa;
    font-size: 18px;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    transition: color 350ms ease-out;
    background-color: transparent;

    &:hover {
      color: #fff;
    }

    i {
      margin: 0 0 5px 0;
      display: block;
    }
  }

  &__link._active {
    color: $icons-indicator-scrollbar-blue;
    transition: color 350ms ease-out;
  }
}

@media screen and (max-width: 526px) {
  .menu {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #303030;
      height: 81px;
      width: 100%;
      z-index: 2;
    }

    &__body {
      content: "";
      height: calc(252px + 81px);
      width: 100%;
      background-color: #414141;
      position: absolute;
      transition: top 500ms ease-out;
      left: 0;
      top: -400%;
      z-index: -1;
    }

    &__body._show {
      top: 0;
      transition: top 500ms ease-out;
      transform: translateY(0) scale(1);
      border-radius: 0;
      width: 100%;
    }

    &__list {
      width: 100%;
      pointer-events: none;
      transition: 500ms ease-out;
      position: absolute;
      top: -10%;
      left: 0;
      flex-direction: column;
      z-index: 1;
      padding-bottom: 5px;

      .menu__link {
        transition: all 350ms ease-out;
        opacity: 0;
        visibility: hidden;
      }
    }

    &__list._show {
      top: 81px;
      pointer-events: all;
      padding-top: 5px;
      transition: 500ms ease-out;

      .menu__link {
        transition: all 2000ms ease-out 100ms;
        opacity: 1;
        visibility: visible;
      }
    }

    &__icon {
      display: block;
      z-index: 101;
    }

    &__link {
      font-size: 18px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #fff;

      i {
        margin: 0 5px 0 0;
      }
    }
  }
}
